
a{
	text-decoration: none;
	color:white;
	font-size: 1.3rem;
	font-weight: bold;
}

/* navbar styling */
.navbar{
	display: flex;
	height: 5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    width: 100%;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
    background-color: #027E11;
    color: white;

	
}

/* logo style */
.logo a:hover{
    transition: transform 0.3s ease-in-out; /* Smooth transition for the scaling */
    transform-origin: center;
    font-size: 1.5rem;
}

.hamburger-menu{
	padding-right: 1.5rem;
	cursor: pointer;
}

.hamburger-menu .line{
display: block;
width:5rem;
height: 2px;
margin-bottom: 10px;
background-color: black;
cursor: pointer;
color: #000;
}

.nav-menu{
	position: fixed;
	width: 94%;
	top: 6rem;
	left: 18px;
	background-color: rgb(255, 255, 255);
	font-weight: 600;

}
.nav-menu a{
	display: block;
	text-align: center;
	padding: 5px 0;
}
.nav-menu a:hover{
	background-color: rgb(223, 251, 219);
    color: black !important;
}

.hide{
	display: none;
}

/* for Desktop view */
@media screen and (min-width:600px){
	.navbar{
		justify-content: space-around;
	}
	.nav-menu{
		display: block;
		position: static;
		width: auto;
		margin-right:20px;
		background: none;
	}
	.nav-menu a{
		display: inline-block;
		padding: 15px 20px;
	}
	.nav-menu a:hover{
		background-color: rgb(223, 251, 219);
		border-radius: 5px;
	}
	.hamburger-menu{
		display: none;
	}
}

/* for Desktop view */
@media screen and (min-width:600px){
	.navbar{
		justify-content: space-around;
	}
	.nav-menu{
		display: block;
		position: static;
		width: auto;
		margin-right:20px;
		background: none;
	}
	.nav-menu a{
		display: inline-block;
		padding: 15px 20px;
	}
	.nav-menu a:hover{
        color: black;
		background-color: rgb(223, 251, 219);
		border-radius: 5px;
	}
	.hamburger-menu{
		display: none;
	}
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */


/* Header */

header {
    background-color: white;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px auto;
    padding: 0 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #40b736;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: rgb(0, 0, 0);
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links a:hover {
    background-color: #40b736;
    border-radius: 4px;
    color: black !important;
}

/* About Section */

.about {
    
    background: rgb(224, 251, 222);
    background: linear-gradient(360deg, rgb(245, 255, 245) 0%, rgb(27, 163, 209) 100%);
    padding: 150px 0 20px 0;
    text-align: center;
}

.about h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1rem;
    color: #323030;
    max-width: 800px;
    margin: 0 auto;
}

.about-info {
    margin: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.about-img {
    width: 20rem;
    height: 20rem;

}

.about-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: contain;
}

.about-info p {
    font-size: 1.3rem;
    margin: 0 2rem;
    text-align: justify;
}

button {
    border: none;
    outline: 0;
    padding: 10px;
    margin: 2rem;
    font-size: 1rem;
    color: white;
    background-color: #40b736;
    text-align: center;
    cursor: pointer;
    width: 15rem;
    border-radius: 4px;
}

button:hover {
    background-color: #1f9405;
}

/* Team Section */

.team {
    padding: 30px 0;
    text-align: center;
    height: auto;
}

.team h1 {
    font-size: 2.5rem;

    margin-top: 30px;
}

.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.card {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 18rem;
    height: auto;
    margin-top: 10px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.card-img {
    width: 18rem;
    height: 60%;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.card-info button {
    margin: 2rem 1rem;
}

.card-name {
    font-size: 2rem;
    margin: 10px 0;
}

.card-role {
    font-size: 1rem;
    color: #888;
    margin: 5px 0;
}

.card-email {
    font-size: 1rem;
    color: #555;
    float: bottom;
}













/*fotter/*


/*footer*/
.footer1{
    width: 100%;
    height: 140px;
position: absolute;
margin-top: 70px;
    
  background-color: #027E11;
  
  }
  .foot{
  width: 24%;
  margin: 30px;
  height: 102px;
  float: left;
  padding-top: 30px;
  }
  
  .foot1{
  width: 45%;
  height: 50px;
  margin: 72px 0px 0px 0px ;
  float: left;
  }
  .foot1 p{
  margin-left: 60px;
  }
  
  .foot2{
  height: 80px;
  width: 15%;
  float: left;
  margin-left: 30px;
  margin-top: 10px;
  }
  .foot img{
  margin-left: 50px;
  width: 120px;
  height:50px;
  }
  .foot2 i{
  margin-top:60px;
    color:#fff;
    background:#027E11;
    border: 2px solid #027E11;
    border-radius:50%;
    padding:5px;
    font-size:14px;
    margin-right:3px;
    display:absolute;
  }
  .foot2 i:hover{
    color:#027E11;
    background:#fff;
  
    
  }